.BodiesTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.BodiesTable caption {
  font-size: 28px;
  font-weight: bold;

}
.BodiesTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.BodiesTable th,
.BodiesTable td {
    padding: 12px 15px;
}

.BodiesTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.BodiesTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.BodiesTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.BodiesTable img {
  width: 800px;
  height: 600px;
}
